*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

.content{
    width: 100%;
    display: flex;
    margin-top: 80px;
    justify-content: center;
}

.box {
    width: 300px;
    height: 300px;
    background: #28464D;
}

h1 {
    text-align: center;
    color: #999999;
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36pt;
}

input {
    width: 40px;
    height: 40px;
    text-align: center;
}

.div-01, .div-02{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.div-01{
    margin-right: 20px;
}

.div-02{
    margin-left: 20px;
}
